extends layout

block content
  .main-container
    .cloud-image
        img(src='/images/successCloudNew.svg')
    .content
        .content-body
            .success-text
                p Hello from Heroku!
            .description 
                p An example of using Nginx as a reverse proxy to a node.js Express app on Heroku 16
            .description__button
                p
                    a.btn.btn-default(href='https://github.com/ahawkin/heroku-nginx-proxy-node') View on GitHub &raquo;
